* {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* hero section */

.hero-section {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px 12% 80px 12%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.hero-image {
    background-color: #6d747d;
    min-width: 480px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* info section */

.info-section {
    padding: 60px 10%;
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 40px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 150px;
}

.card-image {
    border: 4px solid #3882f6;
    border-radius: 12px;
    height: 150px;
    margin-bottom: 10px;
}

/* quote section */
.quote-section {
    background-color: #e5e7eb;
    padding: 80px 18%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

/* CTA section */
.cta-section {
    padding: 80px 12%;
}

.cta-box {
    background-color: #3b82f6;
    color: white;
    padding: 50px 80px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text p {
    color: #e5e7eb;
}

.cta-button {
    border: 2px solid white;
}

/* footer section */

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px;
}